In [6]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv("car_evaluation.csv")
df.head()

   vhigh vhigh.1  2 2.1  small   low  unacc
0  vhigh   vhigh  2   2  small   med  unacc
1  vhigh   vhigh  2   2  small  high  unacc
2  vhigh   vhigh  2   2    med   low  unacc
3  vhigh   vhigh  2   2    med   med  unacc
4  vhigh   vhigh  2   2    med  high  unacc

In [9]:
df.columns = ["buying","maint","doors","persons","lug_boot","safety","class"]

In [10]:
df.head()

  buying  maint doors persons lug_boot safety  class
0  vhigh  vhigh     2       2    small    med  unacc
1  vhigh  vhigh     2       2    small   high  unacc
2  vhigh  vhigh     2       2      med    low  unacc
3  vhigh  vhigh     2       2      med    med  unacc
4  vhigh  vhigh     2       2      med   high  unacc

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1727 entries, 0 to 1726
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1727 non-null   object
 1   maint     1727 non-null   object
 2   doors     1727 non-null   object
 3   persons   1727 non-null   object
 4   lug_boot  1727 non-null   object
 5   safety    1727 non-null   object
 6   class     1727 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

In [13]:
df.describe()

       buying maint doors persons lug_boot safety  class
count    1727  1727  1727    1727     1727   1727   1727
unique      4     4     4       3        3      3      4
top      high  high     3       4      med    med  unacc
freq      432   432   432     576      576    576   1209

In [14]:
df.shape

(1727, 7)

In [17]:
df.isnull().sum()

buying      0
maint       0
doors       0
persons     0
lug_boot    0
safety      0
class       0
dtype: int64

In [19]:
from sklearn.preprocessing import OrdinalEncoder
oe = OrdinalEncoder()
df[["buying","maint","doors","persons","lug_boot","safety","class"]] = oe.fit_transform(df[["buying","maint","doors","persons","lug_boot","safety","class"]])
df.head()

   buying  maint  doors  persons  lug_boot  safety  class
0     3.0    3.0    0.0      0.0       2.0     2.0    2.0
1     3.0    3.0    0.0      0.0       2.0     0.0    2.0
2     3.0    3.0    0.0      0.0       1.0     1.0    2.0
3     3.0    3.0    0.0      0.0       1.0     2.0    2.0
4     3.0    3.0    0.0      0.0       1.0     0.0    2.0

In [21]:
df["persons"].value_counts()

persons
1.0    576
2.0    576
0.0    575
Name: count, dtype: int64

In [22]:
x = df.drop("safety", axis = 1)
y = df["safety"]

In [24]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.2)

In [26]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
rf.fit(x_train,y_train)

RandomForestClassifier()

In [27]:
accuracy = rf.score(x_test,y_test)*100
print("Accuracy score : ",accuracy)

Accuracy score :  31.502890173410403

In [28]:
from sklearn.metrics import classification_report
y_pred = rf.predict(x_test)
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

         0.0       0.35      0.38      0.37       117
         1.0       0.35      0.37      0.36       109
         2.0       0.23      0.20      0.21       120

    accuracy                           0.32       346
   macro avg       0.31      0.32      0.31       346
weighted avg       0.31      0.32      0.31       346